{% load staticfiles %}
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="pt-br">
<head>
    <meta property="og:title" content="Pio Xii Sustentável">
    <meta property="og:image" content="/marxsouza/s2x3wu/_screenshots/images/thumbnail/1700_1442088810.png_1500x1500.jpeg">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="FROONT">
    <meta charset="UTF-8">
    <meta name="DC.title" content="Pio Xii Sustentável">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="DC.language" scheme="UTF-8" content="pt-br">
    <meta http-equiv="content-language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/">
    <link rel="shortcut icon" href="{% static "images/1000px-Gnome-globe.svg.png" %}"/>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static "vendor/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/noframework.waypoints.min.js" %}"></script>
	<script type="text/javascript" src="{% static "vendor/responsive-nav.min.js" %}"></script>
	<script type="text/javascript" src="{% static "vendor/idangerous.swiper.min.js" %}"></script>
	<script type="text/javascript" src="{% static "vendor/webfont.js" %}"></script>	
    <script type="text/javascript" src="{% static "js/form-submit.js" %}"></script>
    <script type="text/javascript" src="{% static "js/reveal-animation.js" %}"></script>
    <script type="text/javascript" src="{% static "js/background-parallax.js" %}"></script>
    <script type="text/javascript" src="{% static "js/page-script.js" %}"></script>
	<script type="text/javascript">
        var fonts = {
            "europa": {
                "css_name": "europa",
                "family": "Europa",
                "id": "myvg",
                "source": "typekit",
                "stack": "sans-serif",
                "variants": [
                    "n3",
                    "i3",
                    "n4",
                    "i4",
                    "n7",
                    "i7"
                ]
            },
        };
    </script>
    <script type="text/javascript">
        try {
            Typekit.load();
        } catch (e) {}
    </script>
	<title>Pio Xii Sustentável &rarr;{% block titulo %}{% endblock %}</title>
</head>

<body>
    <div class="b-content">
        <div id="navigation" class="fr-widget fr-navigation fr-navigation-active fr_navigation fr_red_button">
            <div id="mobile_toggle" class="fr-widget fr-svg fr_mobile_toggle">
                <div class="fr-svg-inner">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 73.2 61.6" xml:space="preserve">
                        <path d="M4.2 8.6h64.7c2.3 0 4.2-1.9 4.2-4.3C73.2 1.9 71.3 0 68.9 0H4.2C1.9 0 0 1.9 0 4.3 0 6.7 1.9 8.6 4.2 8.6zM68.9 26.5H4.2C1.9 26.5 0 28.4 0 30.8c0 2.4 1.9 4.3 4.2 4.3h64.7c2.3 0 4.2-1.9 4.2-4.3C73.2 28.4 71.3 26.5 68.9 26.5zM68.9 53H4.2C1.9 53 0 54.9 0 57.3c0 2.4 1.9 4.3 4.2 4.3h64.7c2.3 0 4.2-1.9 4.2-4.3C73.2 54.9 71.3 53 68.9 53z" />
                    </svg>
                </div>
            </div><!--
         --><div id="items" class="fr-widget fr-container fr_items">
                <a id="link_1" class="fr-widget fr-text fr-wf fr_navigation_link fr_link_1 fr-widget-hover-opacity-60 fr-link" href="{% url "portal:index" %}">
                    <div class="fr-text"><i class="fa fa-home"></i> Inicio</div>
                </a><!--
             --><a id="link_2" class="fr-widget fr-text fr-wf fr_navigation_link fr_link_2 fr-widget-hover-opacity-60 fr-link" href="{% url "portal:formularios" %}">
                    <div class="fr-text"><i class="fa fa-pencil"></i> Formulários</div>
                </a><!--
             --><a id="link_3" class="fr-widget fr-text fr-wf fr_navigation_link fr_link_3 fr-widget-hover-opacity-60 fr-link" href="{% url "portal:grafico" %}">
                    <div class="fr-text"><i class="fa fa-pie-chart"></i> Gráfico</div>
                </a>
            </div>
        </div>

		{% block corpo %} {% endblock %}    
      	<div id="footer_3" class="fr-widget fr-container fr_footer_3">
            <div id="f3_copyright" class="fr-widget fr-text fr-wf fr_caption_center_light_grey fr_f3_copyright">
                <div class="fr-text">
                    <p>Copyright © 2015</p>
                    <p>
                        <em>Karl Marx Silva e Souza</em>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-copyright-footer">
        <div class="fr-widget fr-container">
            <div class="fr-widget fr-text fr-wf fr-made-with-froont">
                <a href="#" class="fr-text">
        			Centro de Ensino Professor Rafael Braga de Oliveira
      			</a>
            </div>
        </div>
        <div class="fr-bottom-em-spacer"></div>
    </div>
</body>
</html>
