{% extends "portal/base.html" %}

{% block titulo %} Gráfico {% endblock %}

{% block corpo %}
<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Masculino', {{ mas|length }}],
          ['Feminino', {{ fem|length }}],
        ]);
        var options = {'title':'Sexo',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('z1'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Menores que 20', {{ id_1|length }}],
          ['de 20 a 30', {{ id_2|length }}],
          ['de 30 a 40', {{ id_3|length }}],
          ['de 40 a 50', {{ id_4|length }}],
          ['Mais de 50', {{ id_5|length }}]
        ]);
        var options = {'title':'Idade',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('z2'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Não estudou', {{ nao|length }}],
          ['Fundamental', {{ fun|length }}],
          ['Médio', {{ med|length }}],
          ['Superior', {{ sup|length }}],
        ]);
        var options = {'title':'Escolaridade (ensino)',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('z3'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Nenhuma', {{ a_1_a|length }}],
          ['1 a 5', {{ a_1_b|length }}],
          ['6 a 10', {{ a_1_c|length }}],
          ['11 a 15', {{ a_1_d|length }}],
          ['Mais de 15', {{ a_1_e|length }}]
        ]);
        var options = {'title':'1. Quantas sacolas plásticas, em média, você obtem semanalmente?',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('a1'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Guarda', {{ a_2_a|length }}],
          ['Descarta', {{ a_2_b|length }}],
          ['Usa como saco de lixo', {{ a_2_c|length }}],
          ['Outros', {{ a_2_d|length }}]
        ]);
        var options = {'title':'2. O que você faz com as sacolas plásticas?',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('a2'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Sim', {{ a_3_a|length }}],
          ['Não', {{ a_3_b|length }}]
        ]);
        var options = {'title':'3. Você conhece as sacolas retornáveis?',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('a3'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Sim', {{ a_4_a|length }}],
          ['Não', {{ a_4_b|length }}],
        ]);
        var options = {'title':'4. Se sim, você usa sacolas retornáveis?',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('a4'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Sempre', {{ a_5_a|length }}],
          ['As vezes', {{ a_5_b|length }}],
        ]);
        var options = {'title':'5. Qual frequência?',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('a5'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Sim', {{ a_6_a|length }}],
          ['Não', {{ a_6_b|length }}],
        ]);
        var options = {'title':'6. Você acha que consumo e descarte inapropriados das sacolas plásticas, causam prejuízos ao meio ambiente?',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('a6'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Sim', {{ a_7_a|length }}],
          ['Não', {{ a_7_b|length }}],
        ]);
        var options = {'title':'7. Você tem conhecimento do projeto de Lei que visa a proibição da distribuição das sacolas plásticas pelos estabelecimentos comerciais?',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('a7'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Sim', {{ a_8_a|length }}],
          ['Não', {{ a_8_b|length }}],
        ]);
        var options = {'title':'8. Se sim, concorda?',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('a8'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Sim', {{ a_9_a|length }}],
          ['Não', {{ a_9_b|length }}],
        ]);
        var options = {'title':'9. Você gostou de participar dessa pesquisa?',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('a9'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Descarta na pia', {{ b_1_a|length }}],
          ['Envia para a reciclagem', {{ b_1_b|length }}],
          ['Descarta em terreno baldio', {{ b_1_c|length }}],
        ]);
        var options = {'title':'1. Qual destino que você dá ao óleo depois do seu uso?',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('b1'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['1 a 4', {{ b_2_a|length }}],
          ['5 a 7', {{ b_2_b|length }}],
          ['8 a 10', {{ b_2_c|length }}],
        ]);
        var options = {'title':'2. De 1 a 10 qual a importância do reaproveitamento do óleo?',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('b2'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Bom', {{ b_3_a|length }}],
          ['Ótimo', {{ b_3_b|length }}],
          ['Não faz diferença', {{ b_3_c|length }}]
        ]);
        var options = {'title':'3. O que você acha de ter em sua comunidade um espaço para recolher esse tipo de resíduo?',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('b3'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Sim', {{ b_4_a|length }}],
          ['Não', {{ b_4_b|length }}],
        ]);
        var options = {'title':'4. Vocẽ sabia que da pra reaproveitar o óleo?',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('b4'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Sim', {{ b_5_a|length }}],
          ['Não', {{ b_5_b|length }}],
          ['Talvez', {{ b_5_c|length }}],
        ]);
        var options = {'title':'5. Você usaria em seu dia-a-dia um sabão produzido a partir do óleo?',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('b5'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Biodegrádavel', {{ c_2_a|length }}],
          ['Não biodegradavel', {{ c_2_b|length }}],
        ]);
        var options = {'title':'2. Qual tipo de sacola é comprada?',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('c2'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Sim', {{ c_3_a|length }}],
          ['Não', {{ c_3_b|length }}],
        ]);
        var options = {'title':'3. Você tem conhecimento do projeto de Lei que visa a proibição da distribuição das sacolas plásticas pelos estabelecimentos comerciais?',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('c3'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Sim', {{ c_4_a|length }}],
          ['Não', {{ c_4_b|length }}],
        ]);
        var options = {'title':'4. Se sim, concorda?',
                       'height':500,
                       'height':300};
        var chart = new google.visualization.PieChart(document.getElementById('c4'));
        chart.draw(data, options);
      }
	</script>
	
	<div id="form" class="fr-widget fr-form fr-wf fr_form">	
    	<div class="fr-widget fr-text fr-wf fr_form_heading">
        	<div class="fr-text">Gráfico de Pesquisa</div>
            <hr style="color: #ccc; height: 0px;" />
        </div>
        <br />
       	<center>
       	<div style="width: 70%;">
       		<h2>Dados Pessoais</h2>
       		<div id="z1"></div><hr>
	       	<div id="z2"></div><hr>
	       	<div id="z3"></div><hr>
			<br><h2>Formulario 1</h2>
	       	<div id="a1"></div><hr>
	       	<div id="a2"></div><hr>
	       	<div id="a3"></div><hr>
	       	<div id="a4"></div><hr>
	       	<div id="a5"></div><hr>
	       	<div id="a6"></div><hr>
	       	<div id="a7"></div><hr>
	       	<div id="a8"></div><hr>
	       	<div id="a9"></div><hr>
	       	<br><br><h2>Formulario 2</h2>
	       	<div id="b1"></div><hr>
	       	<div id="b2"></div><hr>
	       	<div id="b3"></div><hr>
	       	<div id="b4"></div><hr>
	       	<div id="b5"></div><hr>
	       	<br><br><h2>Formulario 3</h2>
	       	<div id="c2"></div><hr>
	       	<div id="c3"></div><hr>
	       	<div id="c4"></div><hr>
	    </div>
       	</center>
       	<button onclick="location.href='{% url "portal:formularios" %}';" id="submit_button" class="fr_submit_button " tabindex="0">
        	<i class="fa fa-pencil"></i> Precher Formularios
        </button>
    </div>	        
{% endblock %}