{% extends "portal/base.html" %}

{% block titulo %} Gráfico {% endblock %}

{% block corpo %}
<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Nenhuma', {{ a_1_a|length }}],
          ['1 a 5', {{ a_1_b|length }}],
          ['6 a 10', {{ a_1_c|length }}],
          ['11 a 15', {{ a_1_d|length }}],
          ['Mais de 15', {{ a_1_e|length }}]
        ]);
        var options = {'title':'1. Quantas sacolas plásticas, em média, você obtem semanalmente?',
                       'width':200,
                       'height':120};
        var chart = new google.visualization.PieChart(document.getElementById('c1'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Guarda', {{ a_2_a|length }}],
          ['Descarta', {{ a_2_b|length }}],
          ['Usa como saco de lixo', {{ a_2_c|length }}],
          ['Outros', {{ a_2_d|length }}]
        ]);
        var options = {'title':'2. O que você faz com as sacolas plásticas?',
                       'width':200,
                       'height':120};
        var chart = new google.visualization.PieChart(document.getElementById('c2'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Sim', {{ a_3_a|length }}],
          ['Não', {{ a_3_b|length }}]
        ]);
        var options = {'title':'3. Você conhece as sacolas retornáveis?',
                       'width':200,
                       'height':120};
        var chart = new google.visualization.PieChart(document.getElementById('c3'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Sim', {{ a_4_a|length }}],
          ['Não', {{ a_4_b|length }}],
        ]);
        var options = {'title':'4. Se sim, você usa sacolas retornáveis?',
                       'width':200,
                       'height':120};
        var chart = new google.visualization.PieChart(document.getElementById('c4'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Sempre', {{ a_5_a|length }}],
          ['As vezes', {{ a_5_b|length }}],
        ]);
        var options = {'title':'5. Qual frequência?',
                       'width':200,
                       'height':120};
        var chart = new google.visualization.PieChart(document.getElementById('c5'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Sim', {{ a_6_a|length }}],
          ['Não', {{ a_6_b|length }}],
        ]);
        var options = {'title':'6. Você acha que consumo e descarte inapropriados das sacolas plásticas, causam prejuízos ao meio ambiente?',
                       'width':200,
                       'height':120};
        var chart = new google.visualization.PieChart(document.getElementById('c6'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Sim', {{ a_7_a|length }}],
          ['Não', {{ a_7_b|length }}],
        ]);
        var options = {'title':'7. Você tem conhecimento do projeto de Lei que visa a proibição da distribuição das sacolas plásticas pelos estabelecimentos comerciais?',
                       'width':200,
                       'height':120};
        var chart = new google.visualization.PieChart(document.getElementById('c7'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Sim', {{ a_8_a|length }}],
          ['Não', {{ a_8_b|length }}],
        ]);
        var options = {'title':'8. Se sim, concorda?',
                       'width':200,
                       'height':120};
        var chart = new google.visualization.PieChart(document.getElementById('c8'));
        chart.draw(data, options);
      }
	</script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['piechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Sim', {{ a_9_a|length }}],
          ['Não', {{ a_9_b|length }}],
        ]);
        var options = {'title':'9. Você gostou de participar dessa pesquisa?',
                       'width':200,
                       'height':120};
        var chart = new google.visualization.PieChart(document.getElementById('c9'));
        chart.draw(data, options);
      }
	</script>
	
	<div id="form" class="fr-widget fr-form fr-wf fr_form">	
    	<div class="fr-widget fr-text fr-wf fr_form_heading">
        	<div class="fr-text">Gráfico de Pesquisa</div>
            <hr style="color: #ccc; height: 0px;" />
        </div>
        <br />
       	<center>
	       	<div id="c1"></div>
	       	<div id="c2"></div>
	       	<div id="c3"></div>
	       	<div id="c4"></div>
	       	<div id="c5"></div>
	       	<div id="c6"></div>
	       	<div id="c7"></div>
	       	<div id="c8"></div>
	       	<div id="c9"></div>
	       	<div id="c10"></div>
	       	<div id="c11"></div>
	       	<div id="c12"></div>
	       	<div id="c13"></div>
	       	<div id="c14"></div>
	       	<div id="c15"></div>
	       	<div id="c16"></div>
	       	<div id="c17"></div>
	       	<div id="c18"></div>
       	</center>
       	<button onclick="location.href='{% url "portal:formulario" %}';" id="submit_button" class="fr_submit_button " tabindex="0">
        	<i class="fa fa-pencil"></i> Precher Formulario
        </button>
    </div>	        
{% endblock %}