{% extends "portal/base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block corpo %}
	<div id="header_2" class="fr-widget fr-container fr_header_2">
            <div id="hd2_main_title" class="fr-widget fr-text fr-wf fr_h1_main_center_white fr_hd2_main_title">
                <div class="fr-text">
                    <p>Pio Xii Sustentável</p>
                    <blockquote>VI Feira de Conhecimento
                        <em> - C. E Prof. Rafael Braga de Oliveira</em>
                    </blockquote>
                </div>
            </div><!--
         --><div id="hd2_paragraph" class="fr-widget fr-text fr-wf fr_paragraph_main_center_white fr_hd2_paragraph">
                <div class="fr-text">
                    <p>Este é um projeto multidisciplinar e com a relevância do Tema, será realizado por toda a&nbsp; Comunidade Escolar, ou seja todos os segmentos que fazem parte da Escola – A.O.S.D’s, alunos,&nbsp; pais, professores e gestores</p>
                </div>
            </div>
         	<script>
		       	$(document).ready(function(){
			    	$('#hd2_button_buy').click(function(){
			    		location.href = '{% url "portal:formulario" %}';
			    	});
		    	}); 	
         	</script>
         	<div id="hd2_2_columns" class="fr-widget fr-grid fr_hd2_2_columns">
                <center>
	                <div id="hd2_button_buy" class="fr-widget fr-text fr-wf fr_red_button fr_hd2_button_buy">
	                    <div class="fr-text"><a href="{% url "portal:formulario" %}" style="text-decoration: none;"><i class="fa fa-pencil"></i> Prencher formulário</a></div>
	                </div>
                </center>
            </div>
        </div><!--
     --><div id="content_11" class="fr-widget fr-container fr_content_11">
            <div id="cnt11_paragraph" class="fr-widget fr-text fr-wf fr_h2_left_black-1 fr_cnt11_paragraph">
                <div class="fr-text">
                    <p>“Todos têm direito ao meio ambiente ecologicamente equilibrado, bem de uso comum do povo e essencial à sadia qualidade de vida, impondo-se ao poder público e à coletividade o dever de defendê-lo e preservá-lo para as presentes e futuras gerações.”
                        <br>
                        <em>Constituição Federal de 1988, Art. 225.</em>
                    </p>
                </div>
            </div>
        </div>
{% endblock %}
